#nameandsurname{
    background-color: rgb(221, 166, 246);
    height: 250px;
    width: 100%;
    text-align: center;
}
#email{
    padding: 15px;
    margin-bottom: 10px;
}
#department {
    background-color: rgb(221, 166, 246);
    font-weight: bold;
}
#course {
    background-color: rgb(221, 166, 246);
    font-weight: bold;
}
#copyrightText {
    padding: 15px;
}