* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dc7ad7;
    padding: 10px 20px;
    position: relative;
}

.navbar-brand img {
    
    text-align: center;
    
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: #441162;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #441162;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: hsl(276, 19%, 42%);
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #dc7ad7;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 0;
        z-index: 1;
    }
    .menu-icon {
        display: block;
    }
    .menu-toggle:checked, .menu-icon , .nav-links {
        display: flex;
    }
}

.maincontainer {
    flex: 1;
    text-align: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    height:350px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.qoute-text {
    margin-top: 15px;
    font-size: xx-large;
    color: #dc7ad7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.leftside {
    background-color: bisque;
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    background-color: #dc7ad7;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}
.browsebutton {
    display: inline-block;
    padding: 10px 20px;
    background-color:bisque;
    color:#000000;
    text-decoration: underline;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}





  

  