* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c8a3ea;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

.logo {
    text-align: center;
    flex: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #441162;
    font-weight: 600;
    padding: 10px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #555;
}

section {
    padding: 20px;
    text-align: center;
}

section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.5em;
}

footer {
    background-color: rgb(221, 166, 246);
    padding: 20px 0;
    text-align: center;
}

#nameandsurname {
    background-color: rgb(221, 166, 246);
    padding: 15px;
}

#email, #department, #course, #copyright {
    padding: 10px;
    margin-bottom: 10px;
}

#email p {
    font-size: 1.2em;
}

#department, #course {
    font-weight: bold;
}

#copyrightText {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #441162;
}

a:hover {
    color: #555;
}

